extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='api/artist/agustina-antonella-luque/site', title='Agustina Antonella Luque', target='_blank', style='box-shadow: 0 3px 10px rgba(0,0,0,0.35); border:6px solid #fff; display:inline-block;')
    img(src='api/artist/agustina-antonella-luque/art', style='max-height: 400px; max-width:260px; min-width: 100px')
